.doctrine__header--wrap{
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    height: 10vh;
    justify-content: center;
    text-align: center;
}

.doctrine__header--title{
    border-bottom: solid 2px $deep-orange;
    font-weight: 600;
}

.doctrine__text--wrap{
    background-color: whitesmoke;
    padding: 12px 16px;
}

.doctrine__text--header{
    border-bottom: solid 2px $deep-orange;
    color: $deep-orange;
    font-weight: 600;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) and (orientation: portrait) {
    .doctrine__header--title{
        font-size: 2.5rem;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) and (orientation: landscape) {
    .doctrine__header--title{
        font-size: 2.5rem;
    }
}